body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: black;
    background: #ffffff;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
    display: inline;
}

a:hover{
    color: white;
    background-color: black;
}
li{
    font-size: 25px;
    margin: 10px;
}
li:first-child{
    color: black;
    background-color: white;
    text-decoration: double;
    width: 250px;
    border-radius: 15px;
}
h1{
    text-align: center;
}

p{
    font-size: 20px;
}
